
<h2> Admin: Dashboard  </h2>
<% puts 'products in view' %>
  <h3> There are <%= @product_count %>  products in the database</h3>
  <h3> There are <%= @category_count %>  categories in the database</h3>
